# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/

# Virtual env
.venv/
venv/

# PyInstaller build
build/
dist/
*.spec

# Logs
logs/
cache/
output/
*.meta.json
run.json
projects/
user_data/

# Test outputs
htmlcov/
.coverage

# OS files
.DS_Store
